@import './color.scss';
@import './font-size.scss';

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .top_label {
    text-align: center;
    z-index: 2;
    background-color: rgba(255,255,255,0.7);;
    .top_title {
      font-size: $font-xl;
      user-select: none;
      margin: 24px 0px;
    }
    .top_tap {
      cursor: pointer;
      font-size: $font-l;
      margin: 24px 0px;
      animation:blink 1s ease-in-out infinite alternate;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
